<table>
    <tr><td>Name</td><td>Reps</td><td>Weight</td><td>Date</td><td>lbs</td><td>Options</td></tr>
    {{#each results}}
    <tr>

        <td>{{this.name}}</td>
        <td>{{this.reps}}</td>
        <td>{{this.weight}}</td>
        <td>{{this.date}}</td>
        <td>{{#if this.lbs}} lbs {{else}} kgs {{/if}}
        </td>
        <td class="lastcolumn">
            <form action="/edit" method="get">
                <input type="submit" class="submit_btn" name="{{this.id}}" value ="Delete">
                <input type="submit" class="submit_btn" name="{{this.id}}" value="Update">
            </form>
        </td>
    </tr>
    {{/each}}
</table>
